<p *ngIf="!tradList"><em>Loading...</em></p>
<div>
    <header>
        <h1 class="bg-primary p-5">Translators DataBase</h1>

        <h3>Translators for this Postal Code: {{cp}}</h3>
        <p>
            That talks:{{language}} and works on: {{service}}.
        </p>
    </header>


    <div *ngIf="tradList ==''">
        <div id="sorry" class="bg-info">
            <h3>We're Sorry </h3>
            <h4>There are no translators that meet these conditions in our database.</h4>
        </div>
    </div>

    <div *ngIf="tradList != ''">


        <div class="bg-success col-lg-4 tradThumbnail" *ngFor="let traductor of tradList">
            <h3>{{traductor.name}} {{traductor.lastName}}</h3>
            <hr />
            <h4>Email : {{traductor.email}}</h4>
            <h4>Phone Number: {{traductor.tlfn}}</h4>
            <hr />
            <button class="btn btn-primary pull-right"> <i class="glyphicon glyphicon-plus"></i> Create Request </button>
        </div>
    </div>
</div>
