<h1>Translators DataBase</h1>

<p *ngIf="!tradList"><em>Loading...</em></p>

<table class='table' *ngIf="tradList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>CP</th>
            <th>Phone Number</th>
            <th>Language </th>
            <th>Service</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let traductorData of tradList">
            <td>{{ traductorData.name }}</td>
            <td>{{ traductorData.lastName }}</td>
            <td>{{ traductorData.email }}</td>
            <td>{{ traductorData.cp }}</td>
            <td>{{ traductorData.tlfn }}</td>
            <td>{{ traductorData.language }}</td>
            <td>{{ traductorData.service }}</td>
        </tr>
    </tbody>
</table>