
#sorry {
    padding: 15px !important;
    margin: 15px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 0 gray;
}

h1 {
    padding: 10px !important;
    margin: 15px !important;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #a6a7a8;

}

.tradThumbnail {
    margin: 5px !important;
    padding: 5px !important;
    border-radius: 10px;
    min-height: 250px;
}

.tradThumbnail h4 {
    text-align: center;
}

.tradThumbnail hr {
    border-top: 1px solid gray;
}

.noPadding {
    padding: 0px !important;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.img-circle {
    height: 120px !important;
    width: 120px !important;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    button:hover, a:hover {
        opacity: 0.7;
    }

.popup {
    word-break: break-word;
    position: fixed;
    right: -12%;
    top: 13%;
    width: 100%;
    z-index: 12;
}

.popupAlert {
    word-break: break-word;
    position: fixed;
    right: 0%;
    top: 13%;
    width: 65%;
    min-height: 300px;
    z-index: 12;
}