
#sorry {
    padding: 15px !important;
    margin: 15px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 0 gray;
}

h1 {
    padding: 10px !important;
    margin: 15px !important;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #a6a7a8;

}

.tradThumbnail {
    margin: 5px !important;
    padding: 5px !important;
    border-radius: 10px;
    min-height: 250px;
}

.tradThumbnail h4 {
    text-align: center;
}

.tradThumbnail hr {
    border-top: 1px solid gray;
}

.noPadding {
    padding: 0px !important;
}

.modal {
    background: rgba(0,0,0,0.6);
}