
.profileImg {
    margin: auto;
    display: block;
    /* width: 40%; */
    width: 150px;
    height: 150px;
    border: solid 2px black;
    /* border-radius: 6px; */
    box-shadow: 1px 1px 5px;
    margin-bottom: -1vh;
    object-fit: cover;
}

.profileBG {
    background: url(../../../dist/b971aa0417772b6510bbe976d5f0598e.jpg);
    background-position: 63% 59%;
}

h4 span {
    margin-left: 15px;
    margin-right: 5px;
    font-size: 14px;
}

hr {
    border-top: 1px solid gray;
    margin-top: -3px;
}

.langServ {
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}


