
<h1>{{titulo}}</h1>
<hr>

<form #formPeticion='ngForm' (ngSubmit)='onSubmit()' class="col-lg-6 col-lg-offset-2" id="formPeticion">
    <label>
        Nombre
        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger"> El nombre es obligatorio</span>
    </label>
    <input type="text" #nombre='ngModel' name="nombre" [(ngModel)]="request.nombre" class="form-control" required />
    <label>
        Descripcion
        <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> La descripcion es obligatoria</span>
    </label>
    <textarea #descripcion='ngModel' name="descripcion" [(ngModel)]="request.descripcion" class="form-control" required></textarea>
    

    <input type="submit" value="{{titulo}}" class="btn btn-primary" [disabled]='!formPeticion.valid'>
</form>
