table {
    background-color: #080808;
    color: white;
}



/*table a {
    color: black;
}*/

    table td {
        background-color: #a0bebf;
        font-style: oblique;
        font-weight: bold;
        color: black;
    }

tr:hover {
    background-color: #bababa;
}

tr:hover td{
    background-color: transparent;
}

