<body>

    <div class="card">
        <div class="card-header">
            <h1 class="card-tittle"> Login Translators</h1>
        </div>
        <br /><br /><br />
        <div class="card-body">
            <form  bg-success (ngSubmit)="login(user, pass)">
                <div class="form-group">
                    <label for="user">User or Email</label>
                    <input required ngModel #user="ngModel" id="user" type="text" name="user" class="form-control" />
                    <div class="alert alert-danger" *ngIf="user.touched && !user.valid">
                        A correct username is required. The username has to be 6 length. <br />
                  
                    </div>
                </div>

                <div class="form-group">
                    <label for="pass"> Password </label>
                    <input required pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{6,}$" ngModel #pass="ngModel" id="pass" type="password" name="pass" class="form-control" />
                    <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
                        A password is required for login!
                    </div>
                </div>

                <button class="btn btn-primary" [disabled]="!user.valid || !pass.valid ">sumbit</button>
            </form>

            <div *ngIf="logFail">
                <p class="alert alert-danger">
                    Something is wrong with your user or email or your password, please try another time.
                </p>
            </div>
        </div>
        <br /><br /><br />
        <div class="card-footer text-muted">

            If you still do not have an account and you want to work for us, fill out our <a href="/register-Traductor">registration form</a> .
        </div>
    </div>
</body>