<!--<a (click)="cargarPerfil()"> <i class="glyphicon glyphicon-refresh	"></i> </a>-->
<!--<div  *ngIf="!trad"><p><em>Loading..., if the page doesn't charges click in the button.</em></p><div class="loader"></div></div>-->
<div class="perfilCard" *ngIf="cargaPagina">

    <div class="col-md-12 profileBG">
        <img src="{{trad.imagen}}" alt="Profile Img" class="profileImg img-circle" />
    </div>
    <div class="container-fluid col-md-12">
        <div class="col-md-12">
           
            <h3><strong>{{trad.name}} {{trad.lastName}}</strong></h3>
            <hr />
            <h4>
                <span class="label label-default">Email: </span> <strong>{{trad.email}}</strong>
                <span class="label label-default">Phone: </span> <strong>{{trad.tlfn}}</strong>
                <span class="label label-default">PostalCode: </span> <strong>{{trad.cp}}</strong>
                <button class="btn btn-primary btn-sm cerrar" [routerLink]="['/Traductor/edit/', trad.id]"><i class="glyphicon glyphicon-edit"></i></button>
            </h4>
        </div>
        <!--Div que muestra la informacion de la biografia del traductor-->
        <div class="col-md-12 panel-primary" *ngIf="bio">
            <h4 class="panel-heading">Bio:</h4>
            <div class="panel-body">
                <p>{{bio}}</p>
            </div>
        </div>

        <div class="col-md-12 " *ngIf="!bio">
            <p class="alert-warning alert">
                Your profile does not have a biography yet, add one so that users know you better before making a request.
            </p>
            <div class="form-group row">
                <form [formGroup]='formBio' #formDir="ngForm" (ngSubmit)='onSubmit()'>
                    <label class="control-label"> Bio </label>
                    <input type="submit" name="submit" class="btn btn-primary glyphicon glyphicon-plus pull-right" value="+" />
                    <input type="text" formControlName="bio" class="form-control" />
                </form>
            </div>
        </div>

        <!-- div que contiene lista de idiomas y servicios del traductor -->
        <div class="thumbnail  col-md-12">
            <div class="col-lg-12">
                <div class="langServ">
                    <h3> Languages</h3>
                    <span class="label label-success" *ngFor="let idioma of langList"> {{idioma.lenguage}}</span>
                </div>
                <div class="langServ">
                    <h3> Services</h3>
                    <span class="label label-success" *ngFor="let servicio of servList"> {{servicio.service}}</span>
                </div>
            </div>
            <button id="show" class="btn btn-primary btn-sm pull-md-right" (click)="mostrar()" *ngIf="show == false && id > 0"> <i class="glyphicon glyphicon-edit"></i> Language / Service</button>
        </div>
    </div>
    <div style="clear:both"></div>

    <div id="langServ" *ngIf="show == true">
        <button class="btn btn-danger btn-sm cerrar" (click)="mostrar()">X</button>
        <div style="clear:both"></div>
        <div class="col-md-10 col-md-offset-1 thumbnail">
            <add-lang-and-serv [id]="id"></add-lang-and-serv>
        </div>
    </div>
</div>


<popup #requestPopup class="popup">
    <div *ngIf="request">
        <h3>Applicant name: <strong>{{request.nombreSolicitante}}</strong></h3>
        <div class="thumbnail">
            <p>{{request.descripcion}}</p>

            <hr />
            <table class="table">
                <tr>
                    <th>Language</th>
                    <td>{{request.idioma}}</td>
                </tr>
                <tr>
                    <th>Servicio</th>
                    <td>{{request.servicio}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td> <a href="mailto:{{request.email}}?Subject= Accept your request of a translator. Service: {{request.servicio}} & Language: {{request.idioma}}"> <strong>{{request.email}}</strong> </a></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{request.tlfn}}</td>
                </tr>
            </table>
        </div>
    </div>
</popup>


<!-- Div que contiene lista de peticiones del traductor -->
<div class="container col-md-12">
    <div class="col-md-6 " *ngFor="let request of requestList">
        <div class="thumbnail request container-fluid">
            <h3>Request for: <strong>{{request.nombreSolicitante}}</strong></h3>
            <hr />
            <table class="table">
                <tr>
                    <th>Language</th>
                    <td>{{request.idioma}}</td>
                </tr>
                <tr>
                    <th>Servicio</th>
                    <td>{{request.servicio}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:{{request.email}}?Subject= Accept your request of a translator. Service: {{request.servicio}} & Language: {{request.idioma}}">
                            <strong>{{request.email}}</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{request.tlfn}}</td>
                </tr>
            </table>
            <hr />
            <a (click)="mostrarDetalles(request)" class="pull-right"> <i class="glyphicon glyphicon-plus"></i> Show more </a>
        </div>
    </div>
</div>

<div *ngIf="id == 0" class="mensajeAlerta alert alert-warning">
    <p> You're profile has not been loaded correctly, re-enter your data on the login. </p><div class="loader"></div>
    <hr />
    <a [routerLink]="['/translator-login']">Login Form</a>
</div>

<!--<button class="btn btn-warning btn-lg" (click)="prueba()"> PRUEBAS </button>-->

<popup #messagePopup>
    {{content}}
</popup>

<!--<div class="col-lg-12">
    <div class="bg-success col-lg-6">
        <h3> Languages</h3>
        <span class="label label-success" *ngFor="let idioma of langList"> {{idioma.lenguage}}</span>
    </div>
    <div class="bg-success col-lg-6">
        <h3> Services</h3>
        <span class="label label-success" *ngFor="let servicio of servList"> {{servicio.service}}</span>
    </div>
</div>-->
<!--<button class="btn btn-success" *ngIf="!trad" (click)="cargarPerfil()">Show profile</button>-->
