
p { display: inline-block;}

.loader {
    display: inline-block;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cerrar {
    float: right;
    
}

span {
    margin: 0px 10px 10px !important;
    padding: 5px !important;
    font-size: 12px;
    display: inline-block;
}

#show {
    margin-top: 20px !important;
}

#langServ {
    margin-top: 20px !important;
    margin-bottom: 20px !important;

}

hr {
    border-bottom: 1px solid gray;
    margin: 15px !important;
}

.thumbnail {
    /*min-height: 325px !important;*/
    border: 1px solid gray !important;
}

.langServ{
    padding: 10px !important;
    padding-bottom: 0px !important;
}

.request {
    background-color: silver;
}

.popup {
    word-break: break-word;
    position: fixed;
    right: -12%;
    top: 13%;
    width: 100%;
    z-index: 12;
}

.ng2-opd-popup-well {
   color: purple;
}