

form {
    background-color: #9d9d9d;
    padding: 15px;
    color: white;
}

button {
    color: black;
}

alert {
    padding: 5px !important;
    margin-bottom: 3px !important;
<<<<<<< Updated upstream
=======
}

.profileImgS {
    max-width: 220px;
    margin: 10px ;
    border-radius: 8px;
    border: 2px black solid;
    object-fit: cover;
}

.btn {
    margin-top: 5px !important;
>>>>>>> Stashed changes
}