<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{title}}</h1>
    <h3>Translator</h3>
    <hr />
    <form [formGroup]="traductorForm" class="col-md-8 col-md-offset-2" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="Email"> <i class="glyphicon glyphicon-envelope"></i> Email</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="email">
            </div>
            <span class="alert alert-danger col-md-8 col-md-offset-2 " *ngIf="traductorForm.hasError('pattern', 'email')">
                Email has to respect the following format text@domain.com
            </span>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'email') && formDir.submitted">
                Email is required.
            </span>

        </div>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="Usuario">  <i class="glyphicon glyphicon-user"></i>  User</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="usuario">
                <span class="alert alert-danger col-md-8 col-md-offset-2 " *ngIf="traductorForm.hasError('pattern', 'usuario')">
                User has to be 6 length and has to have atleast 1 letter and 1 number.
            </span>
            </div>
            
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'usuario') && formDir.submitted">
                User is required.
            </span>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="Pass">  <i class="glyphicon glyphicon-lock"></i>  Password</label>

            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="pass">
            </div>
            <span class="alert alert-danger col-md-8 col-md-offset-2" *ngIf="traductorForm.hasError('pattern', 'pass')">
                Password has to be 6 length and has to have atleast 1 letter and 1 number.
            </span>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'pass') && formDir.submitted">
                Password is required.
            </span>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="Name">Name</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="name">
            </div>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'name') && formDir.submitted">
                Name is required.
            </span>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="LastName">LastName</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="lastName">
            </div>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'lastName') && formDir.submitted">
                LastName is required.
            </span>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="CP">Postal Code</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="cp">
            </div>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'cp') && formDir.submitted">
                Postal Code is required.
            </span>
        </div>
        <div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="Tlfn">  <i class="glyphicon glyphicon-phone"></i>  Phone number</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="text" formControlName="tlfn">
            </div>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'tlfn') && formDir.submitted">
                A number is required.
            </span>
        </div>
        <!--<div class="form-group row">
            <label class=" control-label col-md-8 col-md-offset-2" for="Img">  <i class="glyphicon glyphicon-picture"></i>  Image</label>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" type="file" formControlName="img">
            </div>
            <span class="label label-danger" *ngIf="traductorForm.hasError('required', 'Img') && formDir.submitted">
               Upload a Img is required
            </span>
        </div>-->

        <div class="form-group">
            <button type="submit" class="btn btn-default" >Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>


</body>
</html>