

table th {
    background-color: #a0bebf;
}

table td {
    background-color: #c5c5c5;
}

.fila:hover {
    background-color: #a0bebf;
}

.fila:hover td{
    background-color: transparent;
}

table a {
    color: white;
}