<h1>Translators DataBase</h1>

<p *ngIf="!tradList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-Traductor']">Create New</a>
</p>
<table class='table' *ngIf="tradList">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>CP</th>
            <th>Phone Number</th>
            <th>
        </tr>
    </thead>
    <tbody>
        <tr class="fila" *ngFor="let traductor of tradList">
            <td>{{ traductor.id }}</td>
            <td>{{ traductor.name }}</td>
            <td>{{ traductor.lastName }}</td>
            <td>{{ traductor.email }}</td>
            <td>{{ traductor.cp }}</td>
            <td>{{ traductor.tlfn }}</td>
            <td>
                <a [routerLink]="['/Traductor/edit/', traductor.id]"><i class="glyphicon glyphicon-edit"></i>Edit</a> |
                <a [routerLink]="" (click)="delete(traductor.id)"><i class="glyphicon glyphicon-trash"></i>Delete</a>
            </td>
        </tr>
    </tbody>
</table>