

table th {
    background-color: #080808;
    color: white;
}

table tr th:first-child {
    border-top-left-radius: 5px;
}
table tr th:last-child {
    border-top-right-radius: 5px;
}

table td {
    background-color: #c5c5c5;
}

.fila:hover {
    background-color: #a0bebf;
}

.fila:hover td{
    background-color: transparent;
}

.profileImgXS {
    max-width: 80px;
    border-radius: 5px;
    border: 1px black solid;

}

.loader {
    display: inline-block;
    border: 1px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-bottom: 3px solid #3498db;
    border-radius: 50%;
    width: 25px;
    /* background-color: #e4e4e4; */
    height: 25px;
    animation: spin 2s cubic-bezier(0.75, 0.13, 0.27, 0.83) infinite;
    margin-left: 10px;
}