<h1>Services DataBase</h1>

<p *ngIf="!serviceList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-Traductor']">Create New</a>
</p>
<table class='table' *ngIf="serviceList">
    <thead>
        <tr>
            <th>Service</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of serviceList">
            <td>{{ service.service }}</td>
            <td>
                <a [routerLink]="" (click)="delete(traductor.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>